@font-face {
    font-family: "Space Age";
	src: url('../font/space_age.ttf');
}
@font-face{
    font-family: "Sansation";
    src: url('../font/Sansation_Regular.ttf');
}

:focus{
    outline: none;
}

body{
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    margin: 0px;
    color: #ffffff;
    font-family: "Sansation";
}

#top{
    display: flex;
    flex-direction: row;
}

#logo{
    margin: 0px;
}

img{
    width: 10vh;
    float: left;
    margin: 3vh;
}

nav {
    background: none;
    position: fixed;
    top: 1em;
    right: 0;
}

a {
    text-decoration: none;
}

ul {
    margin-top: 0px;
    display: flex;
}

li {
    list-style: none;
    line-height: 3em;
    color: #000000;
    font-size: 12px;
    width: 160px;
    height: 36px;
    border-radius: 16px;
    font-family: "Space Age";
    background: #ffffff;
    margin: 0 16px;
    border: none;
    box-shadow: 2px 3px 4px #000000;
    opacity: 0.80;
}

li:hover {
    color: white;
    background: #1b395f;
    box-shadow: 2px 3px 4px #ffffff6b;
    cursor: pointer;
}

li:focus {
    color: white;
    background: #1b395f;
    box-shadow: 2px 3px 4px #ffffff6b;
}

#subNav {
    display: none;
    position: absolute;
    margin: 0px;
    padding: 0px;
}

#profil:hover #subNav {
    display: flex;
    flex-direction: column;
}

.subItem {
    margin: 16px 16px 0 0;
}

#submit:Hover,
li:Hover {
    color: white;
    background: #1b395f;
    box-shadow: 2px 3px 4px #ffffff6b;
    cursor: pointer;
}

#submit:focus,
li:focus {
    color: white;
    background: #1b395f;
    box-shadow: 2px 3px 4px #ffffff6b;
}

h1{
    font-family: "Space Age";
    font-size: 3vw;
}

#content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
}

#resume,
#booking{
    background-color: #1b395f8f;
    border-radius: 18px;
    margin: 0px 15px;
    padding: 26px;
}

#resume{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tripInfo{
    padding: 10px;
    overflow: auto;
    max-height: 50%;
}

th, td, tr{
    padding: 10px;
}

#booking{
    width: 30%;
    display: flex;
    flex-direction: column;
}

#bookingDiv{
    display: none;
    margin-top: auto;
    margin-bottom: auto;
}

#connexionDiv{
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}

#logIn{
    font-family: "Space Age";
    font-size: 1em;
    background: #ffffff;
    width: 200px;
    height: 30px;
    margin: 16px 50px;
    border: none;
    border-radius: 28px;
    box-shadow: 2px 3px 4px #000000;
    opacity: 0.80;
}

#logIn:Hover {
    color: white;
    background: #1b395f;
    box-shadow: 2px 3px 4px #ffffff6b;
    cursor: pointer;
}

#logIn:focus {
    color: white;
    background: #1b395f;
    box-shadow: 2px 3px 4px #ffffff6b;
}

h3{
    margin-top: 0px;
}

select,
input{
    margin: 6px;
    padding: 3px;
    height: 20px;
    width: 200px;
    border-radius: 6px;
    font-size: 12px;
    border: none;
    background: #ffffff7a;
    box-shadow: 2px 2px 5px #000000;
    font-family: "Sansation";
}

#submit{
    font-family: "Space Age";
    font-size: 1em;
    background: #ffffff;
    width: 200px;
    height: 30px;
    margin: 16px 50px;
    border: none;
    border-radius: 28px;
    box-shadow: 2px 3px 4px #000000;
    opacity: 0.80;
}