@font-face {
    font-family: "Space Age";
	src: url('space_age.ttf');
   }
@font-face{
    font-family: "Sansation";
    src: url('Sansation_regular.ttf');
}

:focus{
    outline: none;
}

body{
    background-image: url(../img/univers_4.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    margin: 0px;
    color: #000000;
}

#front{
    margin: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#connectionBox{
    position: fixed;
    top: 0;
    right: 0;
}

#company,
#connection{
    font-size: 12px;
    width: 160px;
    height: 36px;
    border-radius: 16px;
    font-family: "Space Age";
    background: #ffffff;
    margin: 16px;
    border: none;
    box-shadow: 2px 3px 4px #000000;
    opacity: 0.80;
}

#titleBox{
    margin: auto;
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-bottom: 200px;
}

a{
    text-decoration: none;
}

h1{
    font-family: "Space Age";
    color: white;
    font-size: 120px;
    margin-bottom: 0px;
}

#caption{
    font-family: "Space Age";
    font-size: 1em;
    margin-top: 0px;
    margin-right: 10%;
    color: white;
    align-self: flex-end;
}
#welcomeBox{
    margin: auto;
}

#welcomeMsg{
    font-family: "Sansation";
    font-size: 1.5em;
    margin: 0px;
    padding: 0px;
    color: #ffffff;
}

button{
    border: none;
    background: none;
    padding: 0px;
    margin-top: 50px;
    cursor: pointer;
}

#scrollBox{
    display: flex;
    justify-content: center;
    align-items:center;
}

#scroll{
    bottom: 5px;
    align-self: flex-end;
}

#iconScroll{
    font-size: 8em;
    color: #ffffff;
}

.left{
    width: 30vw;
    height: 100vh;
    background-color: #ffffff67;
    margin-left: 0px;
 }

#jupiter{
    background-image: url(../img/jupiterG.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    height: 100vh;
}

#pluto{
    background-image: url(../img/plutoG.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    height: 100vh;
}

#mars{
    background-image: url(../img/marsG.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    height: 100vh;
}

#saturne{
    background-image: url(../img/saturneG.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    height: 100vh;
}

#uranus{
    background-image: url(../img/uranusG.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    height: 100vh;
}

#moon{
    background-image: url(../img/moon.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    height: 100vh;
}

 h4{
    font-family: "Space Age";
    font-size: 3.5em;
    margin: 0px;
    padding-top: 30px;

 }

 p{
    padding-top: 30px;
    font-family: "Sansation";
 }

 .booking{
    font-family: "Space Age";
    font-size: 1em;
    background: #ffffff;
    width: 200px;
    height: 30px;
    margin: 16px 50px;
    border: none;
    border-radius: 28px;
    box-shadow: 2px 3px 4px #000000;
    opacity: 0.80;
}


#company:Hover,
#connection:Hover,
.booking:Hover{  
    color: white;
    background: #1b395f;
    box-shadow: 2px 3px 4px #ffffff6b;
    cursor: pointer;
}
#company:focus,
#connection:focus,   
.booking:focus{
    color: white;
    background: #1b395f;
    box-shadow: 2px 3px 4px #ffffff6b;
}