@font-face {
    font-family: "Space Age";
	src: url('space_age.ttf');
}
@font-face{
    font-family: "Sansation";
    src: url('Sansation_regular.ttf');
}

body{
    background-image: url(../img/univers_7.jpg);
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    margin: 0px;
    color: #000000;
}

#connectionBox{
    position: fixed;
    top: 0;
    right: 0;
}

#connection{
    font-size: 12px;
    width: 160px;
    height: 36px;
    border-radius: 16px;
    font-family: "Space Age";
    background: #ffffff;
    margin: 16px;
    border: none;
    box-shadow: 2px 3px 4px #000000;
    opacity: 0.80;
}

#connection:Hover{  
    color: white;
    background: #1b395f;
    box-shadow: 2px 3px 4px #ffffff6b;
    cursor: pointer;
}

#connection:Hover{
    color: white;
    background: #1b395f;
    box-shadow: 2px 3px 4px #ffffff6b;
}

#city{
    margin: 0px;
    height: 100vh;
}

#titleBox{
    margin: auto;
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-bottom: 200px;
}

a{
    text-decoration: none;
}

h1{
    font-family: "Space Age";
    color: #ffffff;
    font-size: 120px;
    margin-bottom: 0px;
}

#caption{
    font-family: "Space Age";
    font-size: 1em;
    margin-top: 0px;
    margin-right: 10%;
    color: white;
    align-self: flex-end;
}

button{
    border: none;
    background: none;
    padding: 0px;
    margin-top: 50px;
    cursor: pointer;
}

#scrollBox{
    display: flex;
    justify-content: center;
    align-items:center;
}

#scroll{
    bottom: 5px;
    align-self: flex-end;
}

#iconScroll{
    font-size: 8em;
    color: #ffffff;
}

#city{
    background-image: url(../img/city_2.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    height: 100vh;
}

#ship{
    background-image: url(../img/space_ship.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    height: 100vh;
}

.left{
    width: 30vw;
    height: 100vh;
    background-color: #ffffff67;
    margin-left: 0px;
 }

 h4{
    font-family: "Space Age";
    font-size: 2em;
    margin: 0px;
    padding-top: 30px;

 }

 p{
    padding-top: 10vh;
    padding-left: 3vw;
    padding-right: 3vw;
    font-family: "Sansation";
    text-align: justify;
 }
