@font-face {
    font-family: "Space Age";
    src: url('space_age.ttf');
}

@font-face {
    font-family: "Sansation";
    src: url('Sansation_regular.ttf');
}

:focus {
    outline: none;
}

body {
    background-image: url(../img/univers_9.jpg);
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    margin: 0px;
    color: #ffffff;
}

#top{
    display: flex;
    flex-direction: row;
}

#logo{
    margin: 0px;
}

img{
    width: 10vh;
    float: left;
    margin: 3vh;
}

nav {
    background-color: transparent;
    position: fixed;
    width: auto;
    top: 1em;
    right: 0;
}

a {
    text-decoration: none;
}

ul {
    margin-top: 0px;
    display: flex;
}

.btnYesNo,
#btnPopUpInfo,
#btnPopUpPassword,
#btnPopUpDeleteAccount,
#submit,
li {
    list-style: none;
    line-height: 3em;
    color: #000000;
    font-size: 12px;
    width: 160px;
    height: 36px;
    border-radius: 16px;
    font-family: "Space Age";
    background-color: #ffffff;
    margin: 0 16px;
    border: none;
    box-shadow: 2px 3px 4px #000000;
    opacity: 0.80;
}

.btnYesNo{
    width: 60px;
}

#btnPopUpInfo,
#btnPopUpPassword,
#btnPopUpDeleteAccount,
#submit{
    width: 250px;
}

.btnYesNo:hover,
#btnPopUpInfo:hover,
#btnPopUpPassword:hover,
#btnPopUpDeleteAccount:hover,
#submit:hover,
li:hover {
    color: white;
    background: #1b395f;
    box-shadow: 2px 3px 4px #ffffff6b;
    cursor: pointer;
}

.btnYesNo:focus,
#btnPopUpInfo:focus,
#btnPopUpPassword:focus,
#btnPopUpDeleteAccount:focus,
#submit:focus,
li:focus {
    color: white;
    background: #1b395f;
    box-shadow: 2px 3px 4px #ffffff6b;
}

#subNav {
    display: none;
    position: absolute;
    margin: 0px;
    padding: 0px;
}

#profil:hover #subNav {
    display: flex;
    flex-direction: column;
}

.subItem {
    margin: 16px 16px 0 0;
}
h3{
    margin: auto;
    font-family: "Space Age";
    font-size: 2em;
}

#user{
    margin: auto;
    margin-top: 8vh; 
    width: 70%;
}

#buttonBox{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-around; 

}

#popUpInfo,
#popUpPassword,
#popUpDeleteAccount{
    display: none;
    position: fixed;
    top:0; right:0; bottom:0; left:0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.popUp_block{
    background-color: #1b395f;
    padding: 2em;
    border: 2px solid #ddd;
    position: relative;
    margin: 12% auto;
    width: 40%;
    box-shadow: 2px 3px 4px #000000;
    border-radius: 10px;
}

#clearInfo,
#clearPassword,
#clearDeleteAccount{
    border: none;
    position : absolute;
    top : 0;
    right: 0;
    color: #ffffff;
    background-color: transparent;
    margin: auto;
    font-size: 26px;
    cursor: pointer;
}

#pastTrip,
#futureTrip,
#information{
    background-color: #1b395f8f;
    border-radius: 18px;
    margin: 0px 15px;
    padding: 10px;
    font-family: "Sansation";
}

.trip{
    background-color: #ffffff30;
    border-radius: 18px;
    margin: 0px 15px;
    padding: 10px;
}

h5{
    font-size: 1em;
    margin: 5px;
}

#myTrip{
    margin: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 96vw;
}

#futureTrip{
    width: 40%
}

#pastTrip{
    width: 40%
}

.input{
    border: none;
    width: 50%;
    border-bottom: solid #ffffff 1px;
    box-shadow: 0 4px 2px -2px #ffffff6b;
    background-color: transparent;
    color: #ffffff;
    margin-bottom: 1em;
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
    -webkit-transition-delay: 99999s;
}