@font-face {
    font-family: "Space Age";
	src: url('../font/space_age.ttf');
}
@font-face{
    font-family: "Sansation";
    src: url('../font/Sansation_Regular.ttf');
}

:focus{
    outline: none;
}

body{
    background-image: url(../img/univers_5.jpg);
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    font-family: "Sansation";
    margin: 0px;
}

nav {
    background: none;
    position: fixed;
    top: 1em;
    right: 0;
}

a {
    text-decoration: none;
}

ul {
    margin-top: 0px;
    display: flex;
}

li {
    list-style: none;
    line-height: 3em;
    color: #000000;
    font-size: 12px;
    width: 160px;
    height: 36px;
    border-radius: 16px;
    font-family: "Space Age";
    background: #ffffff;
    margin: 0 16px;
    border: none;
    box-shadow: 2px 3px 4px #000000;
    opacity: 0.80;
}

li:hover {
    color: white;
    background: #1b395f;
    box-shadow: 2px 3px 4px #ffffff6b;
    cursor: pointer;
}

li:focus {
    color: white;
    background: #1b395f;
    box-shadow: 2px 3px 4px #ffffff6b;
}

#subNav {
    display: none;
    position: absolute;
    margin: 0px;
    padding: 0px;
}

#profil:hover #subNav {
    display: flex;
    flex-direction: column;
}

.subItem {
    margin: 16px 16px 0 0;
}

#titleBox{
    margin: auto;
    margin-top: 10vh;
    width: 60%;
    display: flex;
    flex-direction: column;
}

h1{
    font-family: "Space Age";
    color: white;
    font-size: 120px;
    margin-top: 0px;
    margin-bottom: 40px;
}

a{
    text-decoration: none;
}

#logs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
}

#logIn,
#signUp{
    background-color: #1b395f8f;
    border-radius: 18px;
    margin: 0px 15px;
    padding: 26px;
}

h3{
    margin-top: 0px;
    font-family: "Space Age";
    font-size: 20px;
    text-align: center;
}

form{
    text-align: left;
}

label{
}

.input{
    border: none;
    width: 100%;
    border-bottom: solid #ffffff 1px;
    box-shadow: 0 4px 2px -2px #ffffff6b;
    background-color: transparent;
    color: #ffffff;
    margin-bottom: 1em;
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
    -webkit-transition-delay: 99999s;
}

/* input{
    margin: 6px;
    padding: 3px;
    height: 20px;
    width: 200px;
    border-radius: 6px;
    font-size: 12px;
    border: none;
    background: #ffffff7a;
    box-shadow: 2px 2px 5px #000000;
} */

.submit{
    font-family: "Space Age";
    font-size: 14px;
    background-color: #ffffff;
    width: 120px;
    height: 30px;
    margin: 16px 50px;
    border: none;
    border-radius: 28px;
    box-shadow: 2px 3px 4px #000000;
    opacity: 0.80;
}

li:Hover,
.submit:Hover{  
    color: white;
    background: #1b395f;
    box-shadow: 2px 3px 4px #ffffff6b;
    cursor: pointer;
}

li:focus,
.submit:focus{
    color: white;
    background: #1b395f;
    box-shadow: 2px 3px 4px #ffffff6b;
}
